<!DOCTYPE html>
<html>
    <html>
  <head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


  </head>
<body id="LoginForm" style="background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
<div class="container">
<h1 class="form-heading">login Here</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Client Login</h2>
   <p>Please enter your email and password</p>
   </div>
    <form id="Login">

        <div class="form-group">


            <input type="email" class="form-control myInput" id="inputEmail"  placeholder="Email Address" required>

        </div>

        <div class="form-group">

            <input type="password" class="form-control myInput" id="inputPassword"  placeholder="Password" required>

        </div>
        <div class="forgot">
        <a href="reset.html">Forgot password?</a>
</div>
        <button type="submit" class="btn btn-primary"><a href="dashboard.html">Login</a></button>

      </form>
    </div>
  </div>
 </div>
</div>


</body>
</html>

</html>